{% extends 'catalog/base.html' %}

{% block content %}
<def class="row">
    <def class="col-6">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <p>Хотите удалить запить "{{ object.title }}"?</p>
                    <button type="submit" class="btn btn-danger">Подтвердить</button>
                    <a href="{% url 'blog:list' %}" type="button" class="btn btn-warning">Отмена</a>
                </form>
            </div>
        </div>
    </def>
</def>
{% endblock %}