<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Skystore</title>
    <link rel="stylesheet" type="text/css" href="/static/catalog/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Skystore</h5>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:home' %}">Главная страница</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:products' %}">Каталог</a>
        <a class="p-2 btn btn-outline-primary" href="/contacts/">Контакты</a>
    </nav>
</div>
<div class="col-sm-4 offset-md-1 py-4">
    <h4 class="text-white">Меню</h4>
    <ul class="list-unstyled">
        {% if user.is_authenticated %}
            <li><a href="{% url 'users:profile' %}">Профиль</a></li>
            <li><a href="{% url 'users:logout' %}">Выход</a></li>
            {% if not user.is_verified %}
                <a class="p-2 btn btn-outline-warning" href="{% url 'users:verification' %}">Подтвердите электронную почту</a>
            {% endif %}
        {% else %}
            <li><a href="{% url 'users:login' %}">Вход</a></li>
            <li><a href="{% url 'users:register' %}">Регистрация</a></li>
        {% endif %}

    </ul>
</div>
{% block content %}
{% endblock %}
</body>
</html>