{% extends 'catalog/base.html' %}

{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-12">

                {% for object in object_list %}
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{ object.name }}</h4>
                        </div>
                        <div class="card-body">
                            {% if object.description %}
                                <h1 class="card-title pricing-card-title">$ {{ object.description }}</h1>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% include 'catalog/includes/inc_footer.html' %}
    </div>
{% endblock %}